
<!DOCTYPE html>
<html>
<head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="author" content="Bernand D H">
    <meta itemprop="name" content="Bernand D H">
    <meta itemprop="description" content="Vue JS and Ruby on Rails by Bernand Dayamuntari Hermawan - Web Application Developer">
    <meta itemprop="image" content="https://pbs.twimg.com/profile_images/378800000433502142/638c93134ebf1e2fe50cc0d9ce6a825e.jpeg">
    <meta name="twitter:card" content="Vue JS and Ruby on Rails by Bernand Dayamuntari Hermawan - Web Application Developer">
    <meta name="twitter:site" content="Vue JS and Ruby on Rails by Bernand Dayamuntari Hermawan - Web Application Developer">
    <meta name="twitter:title" content="Vue JS and Ruby on Rails by Bernand Dayamuntari Hermawan - Web Application Developer">
    <meta name="twitter:description" content="Vue JS and Ruby on Rails by Bernand Dayamuntari Hermawan - Web Application Developer">
    <meta name="twitter:creator" content="Bernand D H">
    <meta name="twitter:image" content="https://pbs.twimg.com/profile_images/378800000433502142/638c93134ebf1e2fe50cc0d9ce6a825e.jpeg">
    <meta name="twitter:data1" content="Vue JS and Ruby on Rails by Bernand Dayamuntari Hermawan - Web Application Developer">
    <meta name="twitter:label1" content="Vue JS and Ruby on Rails by Bernand Dayamuntari Hermawan - Web Application Developer">
    <meta name="twitter:data2" content="Vue JS and Ruby on Rails by Bernand Dayamuntari Hermawan - Web Application Developer">
    <meta name="twitter:label2" content="Vue JS and Ruby on Rails by Bernand Dayamuntari Hermawan - Web Application Developer">
    <meta property="og:title" content="Vue JS and Ruby on Rails by Bernand Dayamuntari Hermawan - Web Application Developer">
    <meta property="og:type" content="article">
    <meta property="og:url" content="https://jujitsu-upn.online/vue">
    <meta property="og:image" content="https://pbs.twimg.com/profile_images/378800000433502142/638c93134ebf1e2fe50cc0d9ce6a825e.jpeg">
    <meta property="og:description" content="Vue JS and Ruby on Rails by Bernand Dayamuntari Hermawan - Web Application Developer">
    <meta property="og:site_name" content="Vue JS and Ruby on Rails by Bernand Dayamuntari Hermawan - Web Application Developer">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="https://jujitsu-upn.online/template/assets/img/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <link rel="canonical" href="https://www.jujitsu-upn.online/" />
	<title>Vue JS and Ruby on Rails by Bernand Dayamuntari Hermawan - Web Application Developer</title>
	<link rel="stylesheet" type="text/css" href="vue/css/bootstrap.min.css">
</head>
<body>
	<div id="app">
	<h1 class="text-center alert alert-info">Vue JS and Ruby on Rails by Bernand D H</h1>
	<div class="col-md-9 col-md-offset-3">
	<form class="form-inline">
	  <div class="form-group mx-sm-2" >
	    <input type="text" class="form-control" placeholder="Username" v-model="username">
	  </div>
	  <div class="form-group mx-sm-2">
	    <input type="password" class="form-control" placeholder="Password" v-model="password">
	  </div>
	  <div class="form-group mx-sm-2">
	    <input type="text" class="form-control" placeholder="Level" v-model="level">
	  </div>
	  <div class="form-group mx-sm-2">
	   <input type="button" class="btn btn-primary" value="Add" v-on:click="addItem" v-show="button=='add'" :disabled="submitted == true">
	   <input type="button" class="btn btn-success" value="update" v-on:click="updateItem" v-show="button!='add'" :disabled="submitted == true">
	  </div>
	</form>
	</div>
	<div class="col-md-12"><br></div>
	<div class="col-md-9 col-md-offset-2">
<table class="table table-striped">
  <thead>
    <tr>
      <th>Username</th>
      <th>Password</th>
      <th>Level</th>
      <th>Created At</th>
      <th>Updated At</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr v-for="(data, i) in login_data">
      <td>{{data.username}}</td>
      <td>{{data.password}}</td>
      <td>{{data.level}}</td>
      <td>{{data.created_at}}</td>
      <td>{{data.updated_at}}</td>
      <td><input type="button" class="btn btn-danger" value="Remove" v-on:click="removeItem(data)" :disabled="submitted == true"> | <input type="button" class="btn btn-warning" value="Edit" v-on:click="editItem(data, i)"></td>
    </tr>
  </tbody>
  <tfoot>
      <th>Username</th>
      <th>Password</th>
      <th>Level</th>
      <th>Created At</th>
      <th>Updated At</th>
      <th>Action</th>
  </tfoot>
</table>
</div>
	<div class="col-md-5 col-md-offset-4">
		<div v-if="message==''">
			<div class="alert alert-info">Masukkan salah 1 <strong>username</strong> dan <strong>password</strong> di atas</div>
		</div>
		<div v-else>
		<div v-html="message"> </div>
	</div>
	<form class="form-inline">
	  <div class="form-group mx-sm-2" >
	    <input type="text" class="form-control" placeholder="Username" v-model="username_login">
	  </div>
	  <div class="form-group mx-sm-2">
	    <input type="password" class="form-control" placeholder="Password" v-model="password_login">
	  </div>
	  <input type="button" class="btn btn-primary" value="Login" v-on:click="login" :disabled="submitted == true">
	</form>
	</div>
</div>
	<script src="vue/vue.min.js"></script>
	<script src="vue/axios.min.js"></script>
<script>
	new Vue({
		el: '#app',
		data: {
			title: 'Vue JS and Ruby on Rails',
			login_data: [],
			items: [],
			username: '',
			password: '',
			level: '',
			id: '',
			created_at: '',
			updated_at: '',
			password_login: '',
			username_login: '',
			message: '',
			i: 0,
			index: '',
			button: 'add',
			submitted: false
		},
		methods: {
			addItem(){
				this.submitted = true
				axios.post('https://my-ruby-api-1.herokuapp.com/login/', {
					username: this.username,
					password: this.password,
					level: this.level
				})
				  .then((response) => {
				    // handle success
				    this.login_data.push(response.data)
				    this.username = ''
				    this.password = ''
				    this.level = ''
				    this.submitted = false
				  });
			},
			editItem(data, i){
				//console.log(i)
				this.username = data.username
				this.password = data.password
				this.level = data.level
				this.id = data.id
				this.created_at = data.created_at
				this.updated_at = data.updated_at
				this.index = i
				this.button = 'update'
			},
			updateItem(){
				this.submitted = true
				axios.put('https://my-ruby-api-1.herokuapp.com/login/'+this.id, {
					id: this.id,
					username: this.username,
					password: this.password,
					level: this.level
				})
				  .then((response) => {
				    // handle success
				    this.login_data[this.index]['username'] = response.data.username
				    this.login_data[this.index]['password'] = response.data.password
				    this.login_data[this.index]['level'] = response.data.level
				    this.username = ''
				    this.password = ''
				    this.level = ''
				    this.id =''
				    this.button = 'add'
				    this.submitted = false
				  });
			},
			login(){
				this.submitted = true
				axios.post('https://my-ruby-api-1.herokuapp.com/do_login/', {
					username: this.username_login,
					password: this.password_login
				})
				  .then((response) => {
				    // handle success
				    var count = response.data.length
				    //console.log(count)
				    if(count > 0){
				    	this.message = '<div class="alert alert-success"><strong>Username: '+ response.data[0].username+'</strong> dan <strong>Password: '+ response.data[0].password+'</strong> ditemukan!</div>'
				    } else {
				    	this.message = '<div class="alert alert-danger"><strong>Username: '+this.username_login+'</strong> dan <strong>Password: '+this.password_login+'</strong> tidak ditemukan!</div>'
				    }
				    this.username_login = ''
				    this.password_login = ''
				    this.submitted = false
				  });
			},
			removeItem(param){
				   this.submitted = true
				axios.delete('https://my-ruby-api-1.herokuapp.com/login/'+param.id)
				  .then((response) => {
				    // handle success
				     var index = this.login_data.indexOf(param)
				     console.log(response.data)
				    this.login_data.splice(index, 1)
				    this.submitted = false
				  });
			}
		},
		created(){
			axios.get('https://my-ruby-api-1.herokuapp.com/login/')
				  .then((response) => {
				    // handle success
				    this.login_data = response.data
				  });
		}
	})
</script>
</body>
</html>