ul li {
  list-style: none;
  display: inline;
  color: white;
}
li {
  padding: 10px 15px;
  margin-right: 20px;
  border: 2px solid transparent;
}
li:hover {
  background-color: white;
  color: black;
  border-radius: 10px;
  border: 2px solid #0b56ad;
}
header {
  border-bottom: 5px solid white;
}
body {
  background-size: cover;
  background-image: url("img/WhatsApp\ Image\ 2021-03-19\ at\ 19.23.46.jpeg");
}
.blur {
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  border-radius: 10px;
  width: 90%;
  height: 600px;
  padding-top: 10px;
  margin: auto;
  margin-top: 35px;
}
hr {
  width: 50px;
  border: 1px solid white;
}
.text {
  text-align: center;
  color: white;
  margin-top: 20px;
}
.form-input {
  padding: 10px 10px;
  border-radius: 5px;
  border: 0px;
  width: 180px;
  margin: 5px;
}
#subject {
  width: 395px;
  display: block;
  margin: auto;
}
#message {
  width: 395px;
  height: 100px;
}
#send {
  margin-top: 5px;
  width: 415px;
  padding: 10px 5px;
  background-color: #0b56ad;
  color: white;
  border: 2px solid white;
  border-radius: 5px;
  display: block;
  margin: auto;
}
#send:hover {
  background-color: transparent;
  border: 2px solid white;
  color: white;
}

.img-list {
  vertical-align: top;
}
.text-items {
  margin-top: -5px;
  text-align: left;
}
.main-contact {
  display: grid;
  grid-template-columns: auto auto;
  padding: 10px;
}
.contact,
.form {
  padding: 20px;
  font-size: 30px;
  text-align: left;
  margin-left: -100px;
}
.form {
  text-align: center;
}
.text-card {
  font-size: 16px;
  float: left;
  margin-left: 10px;
}
.img-items {
  border-radius: 50px;
  padding: 4px;
  background-color: #0b56ad;
  border: 2px solid white;
  float: left;
}
.img-items:hover {
  background-color: white;
  color: white;
}
.card {
  margin-bottom: 60px;
}
